Source: amuencha
Section: sound
Priority: optional
Maintainer: Nicolas Brodu <nicolas@brodu.net>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.0
Homepage: https://nicolas.brodu.net/programmation/amuencha/index.html
#Vcs-Browser: https://nicolas.brodu.net/code/amuencha

Package: amuencha
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Musical Analyzer
 Amuencha allows you to visualize the notes contained in an audio signal.
 The idea is to gather notes separated by an octave along the same
 directions of a spiral, so that chords clearly stand out, even reversed.
 You can also record yourself with a microphone (in red) while playing
 some recording (in blue), so you can work your tuning :-)

